<div class="row">
  <div class="col">
    <b>Number of Patients:</b> <%= @number_of_patients %>
  </div>
  <div class="col">
    <b>Average Age:</b> <%= average_age(patients) %>
  </div>
  <div class="col">
    <b>Number of pediatric patients:</b> <%= pediatric_patients(patients) %>
  </div>
</div>